/* Container that contains both D3 diagram on left and information panel on right*/
#KnowledgeMap {
  display: block;
  position: absolute;
  width: 97%;
  height: 88%;
  top: 8%; /* 6% from the top to account for menu bar 5% height  */
  left: 1.5%;
}

/* left side of screen, display D3 circle packing diagram */
#KnowledgeMapD3 {
  overflow: hidden;
  svg {
    background-color: inherit;
  }
}

/* Right side of screen, display information */
#KnowledgeMapLabel {

  height: 10%;
  padding-bottom: 2vh;
  padding-left: 1em;

  #KnowledgeMapLabelInside {
    display: inline-block;
    background-color: rgba(134, 194, 50, 0.9);
    
    padding-left: 0.4em;
    padding-right: 0.4em;

    border-radius: 5%;

    // color:

    font-weight: bold;
    font-size: 1.7em;
  }
}

#KnowledgeMapInfo {
  #KnowledgeMapInfoInside {
    display: block;
    position: absolute;

    width: 97.5%;
    height: 90%;
    left: 2.5%;
    padding: 1.5em;

    font-size: 1.1em;

    border-left: 3px solid rgba(134, 194, 50, 0.9);

    overflow-y: scroll;
    overflow-wrap: break-word;

    * {
      color: white;
    }

    &::-webkit-scrollbar {
      width: 0.7em;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(134, 194, 50, 0.5);
      border-radius: 30px;
    }
  }
}