.ant-menu {
    background-color: #f2f2f2;
    display: block;
    position: absolute;
    width: 97%;
    height: 5%;
    top: 0%;
    left: 1.5%;
    
    padding-bottom: 0.1em;
}

.ant-menu-item {
    /* background-color: red; */
    font-size: 1.6em;
    /* font-weight: bold; */
}