#MotivationMarkdown {
  display: block;
  position: absolute;
  width: 50%;
  height: 88%;
  top: 8%;
  left: 25%;

  padding-top: 1em;
  padding-bottom: 1em;

  overflow-y: scroll;
  overflow-wrap: break-word;

  color: white;

  font-size: 1.4em;

  * {
    color: white;
  }

  h1, h2, h3 {
    text-decoration: underline;
  }


  &::-webkit-scrollbar {
    width: 0.7em;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(134, 194, 50, 0.5);
    border-radius: 30px;
  }
}
