/* Container that contains both D3 diagram and information panel */
#KnowledgeMap {
  display: block;
  position: absolute;
  width: 97%;
  height: 93%;
  top: 6%;    /* 6.5% from the top to account for menu bar 5% height  */
  left: 1.5%;
}

/* left side of screen, display D3 circle packing diagram */
#KnowledgeMapD3 {
  display: block;
  background-color: orange;
}


/* Right side of screen, display information */
#KnowledgeMapInfo {
  /* background-color: green; */
  /* border: 3px solid orange; */
}

#KnowledgeMapInfoInside {
  display: block;
  position: absolute;
  width: 97.5%;
  height: 100%;
  left: 2.5%;
  padding: 1em;

  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px 5px;

  overflow-y: scroll;
}
#KnowledgeMapInfoInside::-webkit-scrollbar {
    width: 0.7em;
    background: transparent;
  }
#KnowledgeMapInfoInside::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
}