.ant-menu {
    background-color: #f2f2f2;
    height: 5%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.8em;
    margin-right: 0.8em;

    padding-bottom: 0.1em;
}

.ant-menu-item {
    /* background-color: red; */
    font-size: 1.6em;
    /* font-weight: bold; */
}