.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 3px;
}

.node--leaf {
  fill: white;
}

.node--leaf:hover {
  stroke: #000;
  stroke-width: 3px;
}

.label {
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  overflow-wrap: break-word;
  font-family: "Lato", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.label {
  pointer-events: none;
}